*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    background-color: #000000;
    color: #F6F6F6;
}

strong{
    color: #22D4FD;
}

main h1 {
    text-align: center;
}

main img {
    margin-top: 20px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    border: 5px solid #22D4FD;
    margin-left: 50px;
}

.container{
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
    padding-left: 20px;
}

.texto{
    margin-top: 20px;
    display: flex;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    /* text-align: center; */
 }

.socials{
    border: 1px solid red;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    gap: 15px;
    width: 250px;
    height: auto;
    justify-content: center;
    color: #F6F6F6;
    flex-direction: column;
    align-items: center;
}

.socials a:hover{
    color: #22D4FD;
    text-decoration: underline;
}

.socials a{
    color: inherit;
    text-decoration: none;
}

.socials a:visited{
    color: #22D4FD;
}

.socials button{
    width: 90px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 30px;
}