*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    /* height: 100vh; */
    background-color: #000000;
    color: #F6F6F6;
}

strong{
    color: #22D4FD;
}

main h1 {
    text-align: center;
    margin-top: 25px;
}

main img {
    margin-top: 20px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    border: 5px solid #22D4FD;
    margin-left: 50px;
}

.container{
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
    padding-left: 20px;
}

.texto{
    margin-top: 20px;
    display: flex;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    /* text-align: center; */
 }

.socials{
    padding: 10px;
    display: flex;
    margin-top: 20px;
    gap: 5px;
    width: 250px;
    height: auto;
    justify-content: center;
    color: #F6F6F6;
    flex-direction: column;
    align-items: center;
    background-color: #3a3b3b;
    border-radius: 5px;
}

.socials a:hover{
    color: #22D4FD;
    text-decoration: underline;
}

.socials a{
    color: inherit;
    text-decoration: none;
}

.socials a:visited{
    color: #22D4FD;
}

.socials button{
    width: 130px;
    padding: 5px;
    background-color: rgb(33, 32, 32);
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
}

.btn-content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials button:hover{
    background-color: #80888a;
    color: #000000;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3a3b3b;
    color: #F6F6F6;
    height: 30px;
    width: 100%;
}

.cabecalho{
  padding: 20px;
  background-color: #3a3b3b;
}

.cabecalho-menu{
    display: flex;
    gap: 20px;
}
.cabecalho-links{
    color: #22D4FD;
    text-decoration: none;
}

