.cabecalho__menu-hamburger{
   width: 24px;
   height: 24px;
   background-image: url(../Assets/Menu.svg);
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 40vh;

}

/* combinador css ~ */
.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja); 
}

/* colocando gradiente na cor da fonte */
.lista-menu__item{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}